# Copy to terraform.tfvars and fill in values
cloudflare_api_token = ""
server_ip            = "161.35.82.211"
freezenith_zone_id   = "37ac5735b1cf9099ccedd4e038d99465"
embermind_zone_id    = "3a9f6cca73ea2653b2bdef6cc6a203b8"
